<%# This is from the "views/shared/_moodform.html.erb of the previous project!" %>

<h1 class="mood-card-header">Select your mood</h1>

<div class="mood-cards-container">
  <div class="mood-card">
    <div class="mood-content-box">
      <div class="Mood-content-text">Amazing</div>
      <div class="Mood-content-xpbonus">XP * 1,25</div>
    </div>

    <div class="mood-button">
    <%= simple_form_for @mood do |f| %>
      <%= f.hidden_field :mood_type, value: "Amazing", class: "mood-card-hidden" %>
      <%= f.submit "Select", class: "btn btn-warning" %>
    <% end %>
    </div>
    <div class="mood-icon"><i class="fa-solid fa-face-smile-wink fa-3x"></i></div>
  </div>

  <div class="mood-card">
    <div class="mood-content-box">
      <div class="Mood-content-text">Good</div>
      <div class="Mood-content-xpbonus">XP * 1,50</div>
    </div>

    <div class="mood-button">
    <%= simple_form_for @mood do |f| %>
      <%= f.hidden_field :mood_type, value: "Good", class: "mood-card-hidden" %>
      <%= f.submit "Select", class: "btn btn-warning" %>
    <% end %>
    </div>
    <div class="mood-icon"><i class="fa-solid fa-sun fa-3x"></i></div>
  </div>

  <div class="mood-card">
    <div class="mood-content-box">
      <div class="Mood-content-text">Ok'ish</div>
      <div class="Mood-content-xpbonus">XP * 2,00</div>
    </div>

    <div class="mood-button">
    <%= simple_form_for @mood do |f| %>
      <%= f.hidden_field :mood_type, value: "Ok'ish", class: "mood-card-hidden" %>
      <%= f.submit "Select", class: "btn btn-warning" %>
    <% end %>
    </div>
    <div class="mood-icon"><i class="fa-solid fa-smog fa-3x"></i></div>
  </div>

  <div class="mood-card">
    <div class="mood-content-box">
      <div class="Mood-content-text">Bad</div>
      <div class="Mood-content-xpbonus">XP * 3,00</div>
    </div>

    <div class="mood-button">
    <%= simple_form_for @mood do |f| %>
      <%= f.hidden_field :mood_type, value: "Bad", class: "mood-card-hidden" %>
      <%= f.submit "Select", class: "btn btn-warning" %>
    <% end %>
    </div>
    <div class="mood-icon"><i class="fa-solid fa-cloud-bolt fa-3x"></i></div>
  </div>

</div>
