<%= form_with model: task, local: true do |f| %>
  <% if task.errors.any? %>
    <div>
      <h2><%= pluralize(task.errors.count, "error") %> prevented this task from being saved:</h2>
      <ul>
        <% task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :xp %><br>
    <%= f.number_field :xp %>
  </div>

  <div>
    <%= f.label :daily %><br>
    <%= f.check_box :daily %>
  </div>

  <div>
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
